body {
	height: 100%;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

h1 {
	color: rgba(175, 47, 47, 0.15);
}

li {
	list-style: none;
}
/*invoices section*/
#invoices {
	background-color: rgba(0, 0, 0, 0.05);
}


.form-input {
	position: relative;
	display: inline-block;
	padding: 15px;
	margin: 10px;
	width: 300px;
	height: auto;
	border: none;
	background-color: rgba(0, 0, 0, 0.03);
	box-shadow: 0 -2px -1px rgba(0, 0, 0, 0.03);
}

.form-input:focus {
	border: none;
	outline: 0;
}

#form-button {
	width: 100px;
	font-size: 20px;
	border-radius: 5px;
	border: none;
	color: #fff;
	line-height: 20px;
	padding: 20px;
	outline: none;
	background-color: rgba(80, 80, 80, 0.2);
}

#form-button:hover {
	color: rgba(17,171,176, 0.6);
	transition: .5s ease-in-out;
}

#form-button:focus {
	border: none;

}
/*selector section*/
#selector {
	background-color: rgba(255, 189, 108, 0.2);
}

#search {
	width: 150px;
	background-color: rgba(0, 0, 0, 0.1);
	border: none;
	box-shadow: 0 -2px -1px rgba(0, 0, 0, 0.03);
}

#search:focus {
	outline: 0;
	border: none;
}

#search-list {
	height: 200px;
	overflow: scroll;
}

.ser-title {
	padding: 0 0 0 40px;
}
.ser-list-title {
	color: rgba(175, 47, 47, 0.35);
	display: inline-block;
	float: left;
	width: 33%;

}

.wrapper {
	width: 33%;
	display: inline;
	float: left;
}

.clear {
	clear: both;
}



#ser-num {
	width: 25px;
	background-color: rgba(0, 0, 0, 0.1);
	border: none;
	box-shadow: 0 -2px -1px rgba(0, 0, 0, 0.03);
	text-align: center;
}



#ser-num:focus {
	outline: 0;
}