body {
	height: 100%;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

h1 {
	color: rgba(202, 29, 29, 0.47);
}

li {
	list-style: none;
}
/*invoices section*/
#invoices {
	background-color: rgba(0, 0, 0, 0.08);
}


.form-input {
	position: relative;
	display: inline-block;
	padding: 15px;
	margin: 10px;
	width: 300px;
	height: auto;
	border: none;
	background-color: rgba(0, 0, 0, 0.03);
	box-shadow: 0 -2px -1px rgba(0, 0, 0, 0.03);
}

.form-input:focus {
	border: none;
	outline: 0;
}

#form-button {
	width: 100px;
	font-size: 20px;
	border-radius: 5px;
	border: none;
	color: #fff;
	line-height: 20px;
	padding: 20px;
	outline: none;
	background-color: rgba(80, 80, 80, 0.2);
}

#form-button:hover {
	color: rgba(17,171,176, 0.6);
	transition: .5s ease-in-out;
}

#form-button:focus {
	border: none;

}
/*selector section*/

.ban-hr {
	width: 80%;
	margin: 18px auto 24px auto;
	border-color: rgb(150, 150, 150);
}

#selector {
	background-color: rgba(255, 189, 108, 0.2);
}

#search {
	width: 150px;
	background-color: rgba(0, 0, 0, 0.1);
	border: none;
	box-shadow: 0 -2px -1px rgba(0, 0, 0, 0.03);
}

#search:focus {
	outline: 0;
	border: none;
}

#search-list {
	height: 200px;
	overflow: scroll;
}

.ser-title {
	padding: 0 0 0 40px;
}
.ser-list-title {
	color: rgba(175, 47, 47, 0.35);
	display: inline-block;
	float: left;
	width: 33%;

}

.wrapper {
	width: 33%;
	display: inline;
	float: left;
}

.clear {
	clear: both;
}



#ser-num {
	width: 25px;
	background-color: rgba(0, 0, 0, 0.1);
	border: none;
	box-shadow: 0 -2px -1px rgba(0, 0, 0, 0.03);
	text-align: center;
}



#ser-num:focus {
	outline: 0;
}

.sel-title {
	padding: 0 0 0 40px;
}

.sel-list-title {
	color: rgba(175, 47, 47, 0.35);
	display: inline-block;
	float: left;
	width: 25%;
	margin: 17px 0 0 0;

}

#select-list {
	height: 200px;
	overflow: scroll;
}

.new-wrapper {
	width: 25%;
	display: inline;
	float: left;
}

#sel-num {
	width: 25px;
	background-color: rgba(0, 0, 0, 0.1);
	border: none;
	box-shadow: 0 -2px -1px rgba(0, 0, 0, 0.03);
	text-align: center;
	outline: none;
}
/*invonice history*/
#history {
	background-color: rgba(0, 0, 0, 0.08);
}

.inv-wrapper {
	width: auto;
	display: inline;
	float: left;
	padding: 0 10px 0 10px;
}

.inv-sel-wrapper {
	width: 15%;
	display: inline;
	float: left;
}

.inv-sel {
	color: rgba(175, 47, 47, 0.35);
	display: inline-block;
	float: left;
	width: 15%;
	position: relative;
	margin: 2px;
	left: -40px;

}

.inv-title {
	background-color: rgba(239, 77, 77, 0.28);
}

.inv-title:hover {
	cursor: pointer;
}