<!DOCTYPE html>
<html lang="en">
<head>
	<title>Invoice Creater</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/app.css">
	<link href='https://fonts.googleapis.com/css?family=Raleway:500' type='text/css'>
</head>
<body>
	<section id="invoices">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div id="form-inputs">
						<h1>Create New Invoice Here</h1>
						<form>
							<input class="form-input" type="text" name="first-Name" placeholder="First Name" autofocus>
							<input class="form-input" type="text" name="last-Name" placeholder="Last Name">
							<br>
							<input class="form-input" type="text" name="data" placeholder="Today's date">
							<input class="form-input" type="text" name="invoice-num" placeholder="invoice number">
						</form>
						<button id="form-button" type="button">Add</button>
					</div>
					<div id="inv-lists">
						<h1>Invoices History</h1>
						<ul class="inv-items"></ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="selector">
		<div class="container">
			<div class="row">
				<div id="select-bar" class="col-md-6">
					<div>
						<form>
							<h1>Search Bar</h1>
							<input id="search" placeholder="search...">
						</form>
					</div>
					<div>
						<div class="ser-title">
							<p class="ser-list-title">Name</p>
							<p class="ser-list-title">Price</p>
							<p class="ser-list-title">Number</p>
							<p class="clear"></p>
						</div>
						<ul id="search-list">
						</ul>
					</div>

				</div>
				<div id="detail" class="col-md-6">
					<div id="items">
						<h1>Selected Items</h1>
						<div class="sel-title">
							<p class="sel-list-title">Name</p>
							<p class="sel-list-title">Price</p>
							<p class="sel-list-title">Number</p>
							<p class="sel-list-title">Total</p>
							<p class="clear"></p>
						</div>
						<ul id="select-list"></ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script type="text/template" id="item-template">
		<div class="view">
			<p><%= firstName %></p>
			<p><%= lastName %></p>
			<p><%= invNum %></p>
			<p><%= invDate %></p>
		</div>
	</script>
	<script type="text/template" id="search-template">
		<div class="searchView">
			<div class="wrapper">
				<p class="ser-list-item"><%= itemName %></p>
			</div>
			<div class="wrapper">
				<p class="ser-list-item"><%= price %></p>
			</div>
			<div class="wrapper">
				<input id="ser-num" type="text" placeholder="0">
				<button id="ser-sub">Add</button>
			</div>
			<div class="clear"></div>

		</div>
	</script>
	<script type="text/template" id="select-template">
		<div>
			<div class="new-wrapper">
				<p><%= itemName %></p>
			</div>
			<div class="new-wrapper">
				<p><%= price %></p>
			</div>
			<div class="new-wrapper">
				<input id="sel-num" type="text" value="<%= num %>"/>
			</div>
			<div class="new-wrapper">
				<p id="sel-tot"><%= total %></p>
			</div>
			<div class="clear"></div>

		</div>
	</script>
	<script src="js/lib/jquery-2.1.4.min.js"></script>
	<script src="js/lib/underscore-min.js"></script>
	<script src="js/lib/backbone-min.js"></script>
	<script src="js/lib/backbone-localstorage.min.js"></script>
	<script src="js/models/inv.js"></script>
	<script src="js/collections/invs.js"></script>
	<script src="js/models/ser.js"></script>
	<script src="js/collections/sers.js"></script>
	<script src="js/models/sel.js"></script>
	<script src="js/collections/sels.js"></script>
	<script src="js/views/selView.js"></script>
	<script src="js/views/serView.js"></script>
	<script src="js/views/invView.js"></script>
	<script src="js/views/app.js"></script>






</body>
</html>